@model Event[]
<div class='competition-list-container'>
	<ul class='competition-list'>
		@for(int i = 0; i < Model.Count(); i++)
		{
			<li class='competition-list-item @(i == 0 ? "active" : "")' data-id='@Model[i].EventId' onclick='showCompetition("@Model[i].EventId");'>
				<div class='scores-tournament-category'>
					<div class='scores-tournament-category-title'>@Model[i].Type.GetTeamTypeToString()</div>
				</div>
				<div class='scores-tournament-info'>
					<div class='scores-tournament-name'>@Model[i].Name</div>
					<div class='scores-tournament-location'>@Model[i].Location</div>
				</div>
			</li>
		}
	</ul>
	<div class='left-arrow overflow-arrow hidden-desktop'><span class='fa fa-chevron-left'></span></div>
	<div class='right-arrow overflow-arrow hidden-desktop'><span class='fa fa-chevron-right'></span></div>
</div>
<script>
	currentCompetitionId = @(Model.Count() > 0 ? Model[0].EventId.ToString() : "-1")
</script>