@*Model = Event *@
<div class='scores-info-container' data-scoreboard-section='standings'>
	@if (Model.IsRoundRobin())
	{
		<div class='standings'>
			@Html.Raw(Model.GetStandingsHtml());
		</div>
	}
	else if (Model.IsKnockout())
	{
		<div class='brackets-title-container'>
			@foreach(Bracket bracket in Model.Brackets) 
			{
				<div class="bracket-level-button">
					<input onchange="updateBracket(this)" id="@bracket.BracketId" data-bracket-id="@bracket.BracketId" type="radio" name="bracket-level" class='bracket-title'>
					<label class='bracket-level-label' for="@bracket.BracketId">@bracket.Name</label>
				</div>
			}
		</div> 
		<div class='brackets-container-container'>
			@foreach(Bracket bracket in Model.Brackets) 
			{
				<div data-bracket-id="@bracket.BracketId" class='bracket-container'>
					<h2 class='bracket-name'>@bracket.Name</h2>
					@Html.Raw(bracket.Html);
				</div>
			} 
			<div onclick="scrollBracketLeft()" class='brackets-container-arrow brackets-container-arrow-left'><div class='top-bracket-arrow'><img class='left-arrow-img' src='/images/chevron-white.png'></div></div>
			<div onclick="scrollBracketRight()" class='brackets-container-arrow brackets-container-arrow-right active'><div class='top-bracket-arrow'><img src='/images/chevron-white.png'></div></div>
		</div>
	}
	
</div>