<div class='game-details-header'>
	<div class="game-details-back-button" onclick="showCompetition('@Model.EventId');"></div>
	<h3 class="game-details-title">Game</h3>
</div>

<section class='game-details-container'>
	<section class='linescore'>
		<table class='linescore-table'>
			<thead>
				<th class='linescore-table-header t-left'>Team</th>
				<th class='linescore-table-header t-left'></th>
				@for(var endNumber = 1; endNumber <= Model.GetNumberOfEnds(); endNumber++){
                    <th class='linescore-table-header t-center'>@endNumber</th>
                }				
				<th class='linescore-table-header t-center'>Tot</th>
			</thead>
			<tbody>
				<tr>
					<td class='linescore-table-data t-left no-padding'>@Model.Team1.Name</td>
					<td class='linescore-table-data t-left'>@Html.Raw(Model.Team1Hammer ? "<img class='linescore-hammer' src='/images/hammer.png'/>" : "")</td>
					@for(var endNumber = 1; endNumber <= Model.GetNumberOfEnds(); endNumber++){
						<td class='linescore-table-data t-center'>@Html.Raw(endNumber < Model.CurrentEnd ? @Model.GetScoreForEnd(1, endNumber) : "<span class='faded'>X</span>")</td>
                    }
					<td class='linescore-table-data t-center'>@Model.Team1Score</strong></td>
				</tr>
				<tr>
					<td class='linescore-table-data t-left no-padding'>@Model.Team2.Name</td>
					<td class='linescore-table-data t-left'>@Html.Raw(Model.Team2Hammer ? "<img class='linescore-hammer' src='/images/hammer.png'/>" : "")</td>
					@for(var endNumber = 1; endNumber <= Model.GetNumberOfEnds(); endNumber++){
						<td class='linescore-table-data t-center'>@Html.Raw(endNumber < Model.CurrentEnd ? @Model.GetScoreForEnd(2, endNumber) : "<span class='faded'>X</span>")</td>
                    }
					<td class='linescore-table-data t-center'><strong>@Model.Team2Score</strong></td>
				</tr>
			</tbody>
		</table>
	</section>
	<section class='game-details-team-container'>
		<div class='game-details-team'>
			@if(@Model.PercentagesAvailable == true) { 
				
			} 
			else {
				<div class='game-team-details-team-container @(Model.Team1.TeamType == EventType.TeamType.MIXED_DOUBLES ? "mixed-doubles" : "")'>
					<div class='game-team-details-team '>
						<h3 class='game-team-details-header'>Team @Model.Team1.Name</h3>
						<div class='game-team-details-player-container'>
							@foreach (var player in @Model.Team1.Players) {
								<div class='game-team-details-player'>
									<div class='game-team-details-position'>@player.GetPositionName()</div>
									<div class='game-team-details-player-image'><img src='/images/players/@player.Image'/></div>
									<div class='game-team-details-player-name'>@player.GetFullName()</div>
								</div>
							}
						</div>
					</div>
					
					<div class='game-team-details-team '>
						<h3 class='game-team-details-header'>Team @Model.Team2.Name</h3>
						<div class='game-team-details-player-container'>
							@foreach (var player in @Model.Team2.Players) {
								<div class='game-team-details-player'>
									<div class='game-team-details-position'>@player.GetPositionName()</div>
									<div class='game-team-details-player-image'><img src='/images/players/@player.Image'/></div>
									<div class='game-team-details-player-name'>@player.GetFullName()</div>
								</div>
							}
						</div>							
					</div>
				</div>
			}
		</div>
		
	</section>
</section>