<section class='game-details-container'>
	@{await Html.RenderPartialAsync("/Views/Partials/Scoreboard/_Linescore.cshtml");}
	<section class='game-details-team-container'>
		<div class='game-details-team'>
			@if(@Model.PercentagesAvailable == true) { 
				
			} 
			else {
				<div class='game-team-details-team-container @(Model.Team1.TeamType == EventType.TeamType.MIXED_DOUBLES ? "mixed-doubles" : "")'>
					<div class='game-team-details-team '>
						<h3 class='game-team-details-header'>Team @Model.Team1.Name</h3>
						<div class='game-team-details-player-container'>
							@foreach (var player in @Model.Team1.GetPlayersSorted()) {
								<div class='game-team-details-player'>
									<div class='game-team-details-position'>@player.GetPositionName()</div>
									<div class='game-team-details-player-image'><img src='/images/players/@player.Image'/></div>
									<div class='game-team-details-player-name'>@player.GetFullName()</div>
								</div>
							}
						</div>
					</div>
					
					<div class='game-team-details-team '>
						<h3 class='game-team-details-header'>Team @Model.Team2.Name</h3>
						<div class='game-team-details-player-container'>
							@foreach (var player in @Model.Team2.GetPlayersSorted()) {
								<div class='game-team-details-player'>
									<div class='game-team-details-position'>@player.GetPositionName()</div>
									<div class='game-team-details-player-image'><img src='/images/players/@player.Image'/></div>
									<div class='game-team-details-player-name'>@player.GetFullName()</div>
								</div>
							}
						</div>							
					</div>
				</div>
			}
		</div>
		
	</section>
</section>